<nav class="navbar navbar-light bg-light fixed-top">
    <a href="#" class="navbar-brand">{{'title' | lang}}</a>
</nav>

<div class="container-fluid" id="content">
    <div class="card">
        <div class="card-body">
            <div>
                {{'nowHeader' | lang}}
            </div>
            <div class="date text-center">
                {{timeService.getDateString()}}
            </div>
            <div class="time text-center">
                {{timeService.getTimeString()}}
            </div>
            <app-synchronize></app-synchronize>
        </div>
    </div>
</div>

<app-language-selector></app-language-selector>
