<button class="btn btn-outline-dark btn-sm" [disabled]="synchronizing" (click)="synchronize();">
  <span *ngIf="!synchronizing" class="ti-reload"></span>
  {{(synchronizing ? 'synchronizing' : 'synchronize') | lang}}  
</button>
<div *ngIf="!synchronizing && synchronized"
  class="text-success d-block d-md-inline"
  style="margin-left: 1em;">
  <span class="ti-check"></span>
  {{'synchronized' | lang}}
</div>
<div *ngIf="synchronized">
  <div style="padding: 5px 0;">
    <strong>
      {{'requestTime' | lang}}:
    </strong>
    <span class="d-block d-md-inline">
      {{requestTime}}
      {{'seconds' | lang}}
    </span>
  </div>
  <div style="padding: 5px 0;">
    <strong>
      {{'clientDelay' | lang}}:
    </strong>
    <span *ngIf="clientDelay < 0" class="d-block d-md-inline">
      {{'serverBehind' | lang : abs(clientDelay)}}
    </span>
    <span *ngIf="clientDelay >= 0" class="d-block d-md-inline">
      {{'clientBehind' | lang : abs(clientDelay)}}
    </span>
  </div>
</div>
<div *ngIf="!synchronizing && synchronizationTooLong" class="alert alert-warning">
  <span class="ti-alert"></span>
  {{'synchronizationTooLong' | lang}}
</div>
<div *ngIf="!synchronizing && requestError" class="alert alert-danger">
  <span class="ti-alert"></span>
  {{requestErrorMessage}}
</div>
